# <center> Pandas Movies Data Analysis [17 exercises with solution]</center>

**Problems List [learned new, see again]-**
- *Problem 6: Second Solution*
- Problem 11
- *Problem 15*

In [1]:
# Importing libraries:

import numpy as np
import pandas as pd

In [2]:
# Importing file:

movies_filepath = 'movies_metadata.csv'
movies_mdata = pd.read_csv(movies_filepath)

## 1. Write a Python Pandas program to get the columns of the DataFrame (movies_metadata.csv file).

In [3]:
movies_mdata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

## 2. Write a Pandas program to get the information of the DataFrame (movies_metadata.csv file)including data types and memory usage.

In [4]:
movies_mdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 24 columns):
adult                    50 non-null bool
belongs_to_collection    10 non-null object
budget                   50 non-null int64
genres                   50 non-null object
homepage                 5 non-null object
id                       50 non-null int64
imdb_id                  50 non-null object
original_language        50 non-null object
original_title           50 non-null object
overview                 49 non-null object
popularity               50 non-null float64
poster_path              50 non-null object
production_companies     50 non-null object
production_countries     50 non-null object
release_date             50 non-null object
revenue                  50 non-null int64
runtime                  50 non-null float64
spoken_languages         50 non-null object
status                   50 non-null object
tagline                  41 non-null object
title                    50 non-null object
video                    50 non-null bool
vote_average             50 non-null float64
vote_count               50 non-null int64
dtypes: bool(2), float64(3), int64(4), object(15)
memory usage: 8.8+ KB

## 3. Write a Pandas program to get the details of the thrid movie of the DataFrame (movies_metadata.csv file).

In [5]:
print('Details of third movie:\n')
print(movies_mdata.iloc[2])

Details of third movie:

adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-22
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
title                                                     Grumpier Old Men
video                                                                False
vote_average                                                           6.5
vote_count                                                              92
Name: 2, dtype: object

## 4. Write a Pandas program to count the number of rows and columns of the DataFrame (movies_metadata.csv file).

In [6]:
print('Number of rows in the dataframe: {}'.format(movies_mdata.shape[0]))
print('Number of columns in the dataframe: {}'.format(movies_mdata.shape[1]))

Number of rows in the dataframe: 50
Number of columns in the dataframe: 24

## 5. Write a Pandas program to get the details of the columns title and genres of the DataFrame.

In [7]:
movies_mdata[['title', 'genres']]

,title,genres
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]"
5,Heat,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
6,Sabrina,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '..."
7,Tom and Huck,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
8,Sudden Death,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
9,GoldenEye,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '..."
10,The American President,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
11,Dracula: Dead and Loving It,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam..."
12,Balto,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '..."
13,Nixon,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na..."
14,Cutthroat Island,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
15,Casino,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
16,Sense and Sensibility,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
17,Four Rooms,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
18,Ace Ventura: When Nature Calls,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
19,Money Train,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam..."
20,Get Shorty,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam..."
21,Copycat,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name..."
22,Assassins,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
23,Powder,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name..."
24,Leaving Las Vegas,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
25,Othello,"[{'id': 18, 'name': 'Drama'}]"
26,Now and Then,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
27,Persuasion,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
28,The City of Lost Children,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n..."
29,Shanghai Triad,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
30,Dangerous Minds,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
31,Twelve Monkeys,"[{'id': 878, 'name': 'Science Fiction'}, {'id'..."
32,Wings of Courage,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ..."
33,Babe,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na..."
34,Carrington,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na..."
35,Dead Man Walking,"[{'id': 18, 'name': 'Drama'}]"
36,Across the Sea of Time,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '..."
37,It Takes Two,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '..."
38,Clueless,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
39,"Cry, the Beloved Country","[{'id': 18, 'name': 'Drama'}]"
40,Richard III,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n..."
41,Dead Presidents,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
42,Restoration,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
43,Mortal Kombat,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam..."
44,To Die For,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na..."
45,How To Make An American Quilt,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
46,Se7en,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na..."
47,Pocahontas,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '..."
48,When Night Is Falling,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
49,The Usual Suspects,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."

## 6. Write a Pandas program to get the details of the movie with title 'Grumpier Old Men'.

In [8]:
movies_mdata[movies_mdata['title'] == 'Grumpier Old Men']

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92

In [9]:
# Solution 2:

movies_mdata.set_index('title').loc['Grumpier Old Men']

adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-22
revenue                                                                  0
runtime                                                                101
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
video                                                                False
vote_average                                                           6.5
vote_count                                                              92
Name: Grumpier Old Men, dtype: object

## 7. Write a Pandas program to get the details of  fifth movie of the DataFrame.

In [10]:
movies_mdata.iloc[4]

adult                                                                False
belongs_to_collection    {'id': 96871, 'name': 'Father of the Bride Col...
budget                                                                   0
genres                                      [{'id': 35, 'name': 'Comedy'}]
homepage                                                               NaN
id                                                                   11862
imdb_id                                                          tt0113041
original_language                                                       en
original_title                                 Father of the Bride Part II
overview                 Just when George Banks has recovered from his ...
popularity                                                         8.38752
poster_path                               /e64sOI48hQXyru7naBFyssKFxVd.jpg
production_companies     [{'name': 'Sandollar Productions', 'id': 5842}...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-02-10
revenue                                                           76578911
runtime                                                                106
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Just When His World Is Back To Normal... He's ...
title                                          Father of the Bride Part II
video                                                                False
vote_average                                                           5.7
vote_count                                                             173
Name: 4, dtype: object

## 8. Write a Pandas program to create a smaller dataframe with a subset of all features.

In [11]:
small_df = movies_mdata[['title', 'release_date', 'budget', 'revenue', 'runtime']]
small_df.head()

                         title release_date    budget    revenue  runtime
0                    Toy Story   1995-10-30  30000000  373554033     81.0
1                      Jumanji   1995-12-15  65000000  262797249    104.0
2             Grumpier Old Men   1995-12-22         0          0    101.0
3            Waiting to Exhale   1995-12-22  16000000   81452156    127.0
4  Father of the Bride Part II   1995-02-10         0   76578911    106.0

## 9. Write a Pandas program to display the first 10 rows of the DataFrame.

In [12]:
# Solution 1: 
# movies_mdata.head(10)

# Solution 2:
movies_mdata.iloc[:10]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194

## 10. Write a Pandas program to sort the DataFrame based on release_date.

In [13]:
movies_mdata.sort_values('release_date')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,1995-04-30,0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17
48,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,8391,tt0114916,en,When Night Is Falling,"A prudish woman, working on tenure as a litera...",...,1995-05-05,0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,When Night Is Falling,False,5.9,10
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1995-05-16,1738611,108.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308
44,False,NaN,20000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,577,tt0114681,en,To Die For,Susan wants to work in television and will the...,...,1995-05-20,21284514,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All she wanted was a little attention.,To Die For,False,6.7,177
47,False,"{'id': 136214, 'name': 'Pocahontas Collection'...",55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,10530,tt0114148,en,Pocahontas,History comes gloriously to life in Disney's e...,...,1995-06-14,346079773,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American legend comes to life.,Pocahontas,False,6.7,1509
33,False,"{'id': 9435, 'name': 'Babe Collection', 'poste...",30000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",NaN,9598,tt0112431,en,Babe,Babe is a little pig who doesn't quite know hi...,...,1995-07-18,254134910,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A little pig goes a long way.,Babe,False,6.0,756
38,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9603,tt0112697,en,Clueless,"Shallow, rich and socially successful Cher is ...",...,1995-07-19,0,97.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Sex. Clothes. Popularity. Is there a problem h...,Clueless,False,6.9,828
49,False,NaN,6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.mgm.com/#/our-titles/2083/The-Usual...,629,tt0114814,en,The Usual Suspects,"Held in an L.A. interrogation room, Verbal Kin...",...,1995-07-19,23341568,106.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Five Criminals. One Line Up. No Coincidence.,The Usual Suspects,False,8.1,3334
30,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,9909,tt0112792,en,Dangerous Minds,Former Marine Louanne Johnson lands a gig teac...,...,1995-08-11,180000000,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She broke the rules... and changed their lives.,Dangerous Minds,False,6.4,249
43,False,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,9312,tt0113855,en,Mortal Kombat,For nine generations an evil sorcerer has been...,...,1995-08-18,122195920,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,False,5.4,452
46,False,NaN,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",http://www.sevenmovie.com/,807,tt0114369,en,Se7en,Two homicide detectives are on a desperate hun...,...,1995-09-22,327311859,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,False,8.1,5915
27,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,17015,tt0114117,en,Persuasion,This film adaptation of Jane Austen's last nov...,...,1995-09-27,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Persuasion,False,7.4,36
45,False,NaN,10000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,11861,tt0113347,en,How To Make An American Quilt,Soon-to-be-wed graduate student Finn Dodd deve...,...,1995-10-06,23574130,116.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,There's beauty in the patterns of life.,How To Make An American Quilt,False,6.5,38
22,False,NaN,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9691,tt0112401,en,Assassins,Assassin Robert Rath arrives at a funeral to k...,...,1995-10-06,30303072,132.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394
41,False,NaN,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,11443,tt0112819,en,Dead Presidents,"Depicts a heist of old bills, retired from cir...",...,1995-10-06,0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,False,6.6,80
36,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '...",NaN,139405,tt0112286,en,Across the Sea of Time,"A young Russian boy, Thomas Minton, travels to...",...,1995-10-20,0,51.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}, {'iso...",Released,NaN,Across the Sea of Time,False,3.5,2
26,False,NaN,12000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9263,tt0114011,en,Now and Then,Waxing nostalgic about the bittersweet passage...,...,1995-10-20,27400000,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In every woman there is the girl she left behind.,Now and Then,False,6.6,91
20,False,"{'id': 91698, 'name': 'Chili Palmer Collection...",30250000,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam...",NaN,8012,tt0113161,en,Get Shorty,Chili Palmer is a Miami mobster who gets sent ...,...,1995-10-20,115101622,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The mob is tough, but it’s nothing like show b...",Get Shorty,False,6.4,305
21,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,1710,tt0112722,en,Copycat,An agoraphobic psychologist and a female detec...,...,1995-10-27,0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,One man is copying the most notorious killers ...,Copycat,False,6.5,199
23,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",NaN,12665,tt0114168,en,Powder,Harassed by classmates who won't accept his sh...,...,1995-10-27,0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143
24,False,NaN,3600000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.mgm.com/title_title.do?title_star=L...,451,tt0113627,en,Leaving Las Vegas,"Ben Sanderson, an alcoholic Hollywood screenwr...",...,1995-10-27,49800000,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,I Love You... The Way You Are.,Leaving Las Vegas,False,7.1,365
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
34,False,NaN,0,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,47018,tt0112637,en,Carrington,The story of the relationship between painter ...,...,1995-11-08,0,121.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Love so Unusual it has to be True,Carrington,False,6.4,16
18,False,"{'id': 3167, 'name': 'Ace Ventura Collection',...",30000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,9273,tt0112281,en,Ace Ventura: When Nature Calls,"Summoned from an ashram in Tibet, Ace finds hi...",...,1995-11-10,212385533,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,New animals. New adventures. Same hair.,Ace Ventura: When Nature Calls,False,6.1,1128
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,James Bond must unmask the mysterious head of ...,...,1995-11-16,352194034,130.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194
37,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,33689,tt0113442,en,It Takes Two,Identical 9-year-olds from very different back...,...,1995-11-17,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Two identical strangers. Two different worlds....,It Takes Two,False,6.1,149
10,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,1995-11-17,107879496,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199
19,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,11517,tt0113845,en,Money Train,A vengeful New York transit cop decides to ste...,...,1995-11-21,35431113,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Get on, or GET OUT THE WAY!",Money Train,False,5.4,224
15,False,NaN,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,524,tt0112641,en,Casino,The life of the gambling paradise – Las Vegas ...,...,1995-11-22,116112375,178.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343
17,False,NaN,4000000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",NaN,5,tt0113101,en,Four Rooms,It's Ted the Bellhop's first night on the job....,...,1995-12-09,4300000,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Twelve outrageous guests. Four scandalous requ...,Four Rooms,False,6.5,539
16,False,NaN,16500000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,4584,tt0114388,en,Sense and Sensibility,"Rich Mr. Dashwood dies, leaving his second wif...",...,1995-12-13,135000000,136.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Lose your heart and come to your senses.,Sense and Sensibility,False,7.2,364
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886
6,False,NaN,58000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,11860,tt0114319,en,Sabrina,An ugly duckling having undergone a remarkable...,...,1995-12-15,0,127.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,You are cordially invited to the most surprisi...,Sabrina,False,6.2,141
39,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,34615,tt0112749,en,"Cry, the Beloved Country",A South-African preacher goes to search for hi...,...,1995-12-15,676525,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,"Cry, the Beloved Country",False,6.7,13
25,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,16420,tt0114057,en,Othello,The evil Iago pretends to be friend of Othello...,...,1995-12-15,0,123.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Envy, greed, jealousy and love.",Othello,False,7.0,33
8,False,NaN,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9091,tt0114576,en,Sudden Death,International action superstar Jean Claude Van...,...,1995-12-22,64350171,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Terror goes into overtime.,Sudden Death,False,5.5,174
11,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",NaN,12110,tt0112896,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,...,1995-12-22,0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Dracula: Dead and Loving It,False,5.7,210
7,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,45325,tt0112302,en,Tom and Huck,"A mischievous young boy, Tom Sawyer, witnesses...",...,1995-12-22,0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45
12,False,"{'id': 117693, 'name': 'Balto Collection', 'po...",0,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",NaN,21032,tt0112453,en,Balto,An outcast half-wolf risks his life to prevent...,...,1995-12-22,11348324,78.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Part Dog. Part Wolf. All Hero.,Balto,False,7.1,423
13,False,NaN,44000000,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",NaN,10858,tt0113987,en,Nixon,An all-star cast powers this epic look at Amer...,...,1995-12-22,13681765,192.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Triumphant in Victory, Bitter in Defeat. He Ch...",Nixon,False,7.1,72
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
14,False,NaN,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,1408,tt0112760,en,Cutthroat Island,"Morgan Adams and her slave, William Shaw, are ...",...,1995-12-22,10017322,119.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137
31,False,NaN,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",NaN,63,tt0114746,en,Twelve Monkeys,"In the year 2035, convict James Cole reluctant...",...,1995-12-29,168840000,129.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470
40,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",NaN,31174,tt0114279,en,Richard III,Shakespeare's Play transplanted into a 1930s s...,...,1995-12-29,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"I can smile, and murder while I smile",Richard III,False,6.9,50
42,False,NaN,19000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,35196,tt0114272,en,Restoration,"An aspiring young physician, Robert Merivel fo...",...,1995-12-29,0,117.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Restoration,False,6.3,30
35,False,NaN,11000000,"[{'id': 18, 'name': 'Drama'}]",NaN,687,tt0112818,en,Dead Man Walking,A justice drama based on a true story about a ...,...,1995-12-29,39363635,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dead Man Walking,False,7.3,350
32,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,...,1996-09-18,0,50.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,False,6.8,4

## 11. Write a Pandas program to access those movies, released after 1995-01-01.

In [14]:
small_df[movies_mdata['release_date'] > '1995-01-01']

                             title release_date    budget    revenue  runtime
0                        Toy Story   1995-10-30  30000000  373554033     81.0
1                          Jumanji   1995-12-15  65000000  262797249    104.0
2                 Grumpier Old Men   1995-12-22         0          0    101.0
3                Waiting to Exhale   1995-12-22  16000000   81452156    127.0
4      Father of the Bride Part II   1995-02-10         0   76578911    106.0
5                             Heat   1995-12-15  60000000  187436818    170.0
6                          Sabrina   1995-12-15  58000000          0    127.0
7                     Tom and Huck   1995-12-22         0          0     97.0
8                     Sudden Death   1995-12-22  35000000   64350171    106.0
9                        GoldenEye   1995-11-16  58000000  352194034    130.0
10          The American President   1995-11-17  62000000  107879496    106.0
11     Dracula: Dead and Loving It   1995-12-22         0          0     88.0
12                           Balto   1995-12-22         0   11348324     78.0
13                           Nixon   1995-12-22  44000000   13681765    192.0
14                Cutthroat Island   1995-12-22  98000000   10017322    119.0
15                          Casino   1995-11-22  52000000  116112375    178.0
16           Sense and Sensibility   1995-12-13  16500000  135000000    136.0
17                      Four Rooms   1995-12-09   4000000    4300000     98.0
18  Ace Ventura: When Nature Calls   1995-11-10  30000000  212385533     90.0
19                     Money Train   1995-11-21  60000000   35431113    103.0
20                      Get Shorty   1995-10-20  30250000  115101622    105.0
21                         Copycat   1995-10-27         0          0    124.0
22                       Assassins   1995-10-06  50000000   30303072    132.0
23                          Powder   1995-10-27         0          0    111.0
24               Leaving Las Vegas   1995-10-27   3600000   49800000    112.0
25                         Othello   1995-12-15         0          0    123.0
26                    Now and Then   1995-10-20  12000000   27400000    100.0
27                      Persuasion   1995-09-27         0          0    104.0
28       The City of Lost Children   1995-05-16  18000000    1738611    108.0
29                  Shanghai Triad   1995-04-30         0          0    108.0
30                 Dangerous Minds   1995-08-11         0  180000000     99.0
31                  Twelve Monkeys   1995-12-29  29500000  168840000    129.0
32                Wings of Courage   1996-09-18         0          0     50.0
33                            Babe   1995-07-18  30000000  254134910     89.0
34                      Carrington   1995-11-08         0          0    121.0
35                Dead Man Walking   1995-12-29  11000000   39363635    122.0
36          Across the Sea of Time   1995-10-20         0          0     51.0
37                    It Takes Two   1995-11-17         0          0    101.0
38                        Clueless   1995-07-19  12000000          0     97.0
39        Cry, the Beloved Country   1995-12-15         0     676525    106.0
40                     Richard III   1995-12-29         0          0    104.0
41                 Dead Presidents   1995-10-06  10000000          0    119.0
42                     Restoration   1995-12-29  19000000          0    117.0
43                   Mortal Kombat   1995-08-18  18000000  122195920    101.0
44                      To Die For   1995-05-20  20000000   21284514    106.0
45   How To Make An American Quilt   1995-10-06  10000000   23574130    116.0
46                           Se7en   1995-09-22  33000000  327311859    127.0
47                      Pocahontas   1995-06-14  55000000  346079773     81.0
48           When Night Is Falling   1995-05-05         0          0     96.0
49              The Usual Suspects   1995-07-19   6000000   23341568    106.0

## 12. Write a Pandas program to sort movies on runtime in descending order.

In [15]:
small_df.sort_values('runtime', ascending = False).head()

                    title release_date    budget    revenue  runtime
13                  Nixon   1995-12-22  44000000   13681765    192.0
15                 Casino   1995-11-22  52000000  116112375    178.0
5                    Heat   1995-12-15  60000000  187436818    170.0
16  Sense and Sensibility   1995-12-13  16500000  135000000    136.0
22              Assassins   1995-10-06  50000000   30303072    132.0

## 13. Write a Pandas program to get those movies whose revenue more than 2 million and spent less than 1 million.

In [16]:
small_df[(small_df['revenue'] > 20000000) & (small_df['budget'] < 10000000)]

                          title release_date   budget    revenue  runtime
4   Father of the Bride Part II   1995-02-10        0   76578911    106.0
24            Leaving Las Vegas   1995-10-27  3600000   49800000    112.0
30              Dangerous Minds   1995-08-11        0  180000000     99.0
49           The Usual Suspects   1995-07-19  6000000   23341568    106.0

## 14. Write a Pandas program to get the longest runtime and shortest runtime.

In [17]:
print('Longest runtime: {}'.format(movies_mdata['runtime'].max()))
print('Shortest runtime: {}'.format(movies_mdata['runtime'].min()))

Longest runtime: 192.0
Shortest runtime: 50.0

## 15. Write a Pandas program to compute the calculate the number of votes garnered by the 70% movie.

In [18]:
movies_mdata['vote_count'].quantile(.7)

402.6999999999999

## 16. Write a Pandas program to display the movies (title, runtime) longer than 30 minutes and shorter than 360 minutes.

In [19]:
movies_mdata[(movies_mdata['runtime'] > 30) & (movies_mdata['runtime'] < 360)][['title', 'runtime']]

                             title  runtime
0                        Toy Story     81.0
1                          Jumanji    104.0
2                 Grumpier Old Men    101.0
3                Waiting to Exhale    127.0
4      Father of the Bride Part II    106.0
5                             Heat    170.0
6                          Sabrina    127.0
7                     Tom and Huck     97.0
8                     Sudden Death    106.0
9                        GoldenEye    130.0
10          The American President    106.0
11     Dracula: Dead and Loving It     88.0
12                           Balto     78.0
13                           Nixon    192.0
14                Cutthroat Island    119.0
15                          Casino    178.0
16           Sense and Sensibility    136.0
17                      Four Rooms     98.0
18  Ace Ventura: When Nature Calls     90.0
19                     Money Train    103.0
20                      Get Shorty    105.0
21                         Copycat    124.0
22                       Assassins    132.0
23                          Powder    111.0
24               Leaving Las Vegas    112.0
25                         Othello    123.0
26                    Now and Then    100.0
27                      Persuasion    104.0
28       The City of Lost Children    108.0
29                  Shanghai Triad    108.0
30                 Dangerous Minds     99.0
31                  Twelve Monkeys    129.0
32                Wings of Courage     50.0
33                            Babe     89.0
34                      Carrington    121.0
35                Dead Man Walking    122.0
36          Across the Sea of Time     51.0
37                    It Takes Two    101.0
38                        Clueless     97.0
39        Cry, the Beloved Country    106.0
40                     Richard III    104.0
41                 Dead Presidents    119.0
42                     Restoration    117.0
43                   Mortal Kombat    101.0
44                      To Die For    106.0
45   How To Make An American Quilt    116.0
46                           Se7en    127.0
47                      Pocahontas     81.0
48           When Night Is Falling     96.0
49              The Usual Suspects    106.0

## 17. Write a Pandas program to display the movies (title, number of votes) that received specified number of votes.

In [20]:
small_df = movies_mdata[['title', 'vote_count']]
n = 500
small_df[small_df['vote_count'] >= n]

                             title  vote_count
0                        Toy Story        5415
1                          Jumanji        2413
5                             Heat        1886
9                        GoldenEye        1194
15                          Casino        1343
17                      Four Rooms         539
18  Ace Ventura: When Nature Calls        1128
31                  Twelve Monkeys        2470
33                            Babe         756
38                        Clueless         828
46                           Se7en        5915
47                      Pocahontas        1509
49              The Usual Suspects        3334

#### Problem's Source: [https://www.w3resource.com/python-exercises/pandas/movies/index.php](https://www.w3resource.com/python-exercises/pandas/movies/index.php)